<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu:wght@400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href= "public/css/styles.css">
        <link rel="icon" href="public/images/todo.png" type="image/png" />
        <link rel="shortcut icon" href="todo.ico" />
        <title>To Do List</title>
    </head>
    <body>
        <div class="box" id="heading">
            <h1> <%= kindOfDay %> </h1>
        </div>
        
        <div class="box">

            <% for(var i=0; i<newListItems.length; i++){ %> 

                <% if(newListItems[i] != "") { %>
            
                    <div class="item">
                        <input type="checkbox">
                        <p><%= newListItems[i] %> </p>
                    </div>
                    <% } %> 

            <% } %> 

            <form class="item" action="/"  method="post">
                <input class="input-font" type="text" name="newTask" placeholder="Add New Task" autocomplete="off">
                <button type="submit">+</button>
            </form>

        </div>

        
        
    </body>
</html>