html {
  background-color: #e4f3f8;
  background-image: -webkit-linear-gradient(65deg, #a8d8ea 50%, #e4f3f8 50%);
  min-height: 1000px;
  font-family: 'Nunito', sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
  font-size: 2.5rem;
  text-shadow: 2px 2px #5d6b6a;
}

.footer-h1 {
  color: #fff;
  padding: 10px;
  font-size: 1.6rem;
  text-shadow: 2px 2px #5d6b6a;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #a8d8ea;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: grey;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #71737a;
}

.footer-p {
  margin: 0;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #71737a;
}

.input-font{
  font-family: 'Ubuntu', sans-serif;
  color: #71737a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a8d8ea;
  color: #fff;
  font-size: 30px;
  padding-bottom: 1px;
  border-width: 0;
}

button:hover{
  cursor: pointer;
  background-color: #56b5f5 ;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a8d8ea;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
